body{
    background-color: #141414;
}
.bannerFont{
    font:bold;
    font-size: 30;
    color: #cc71e6;
    font-family: 'Press Start 2P', sans-serif;
    margin-top: 150px;
}
.iconeFont{
    color:aliceblue;
}

#subTitle{
    font-size: 20;
}
.menu{
    background-color: #141414;
}
.corLetras{

   color: aliceblue;

}
.shadowNav{
    -webkit-box-shadow: 5px 5px 48px 1px #26152A; 
box-shadow: 5px 5px 48px 1px #26152A;
}
.shadowTitle{
    -webkit-text-shadow: 5px 5px 48px 1px #d4b3db; 
text-shadow: 5px 5px 48px 1px #d2a8db;
}
.iconLetra:hover{
    color: #cc71e6;
     }