<div class="menu continer-fluid">
    <div class="row d-flex ">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h3 class="text-center mb-5 titleFont mb-5">Hello, Contact me and participate in the forums!</h3>
                    <h5 class="mb-5 colorFont text-center">log in:</h5>

                    <div class="form-group colorFont">
                        <label for="usuario">E-mail</label>
                        <input [(ngModel)]='userLogin.usuario' class="form-control" type="text" name="usuario" id="usuario"
                            placeholder="Informe seu melhor e-mail">
                    </div>
                    <div class="form-group colorFont">
                        <label for="usuario">Password</label>
                        <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="senha" id="senha"
                            placeholder="Informe sua senha">
                    </div>
                    <div class="d-flex justify-content-center colorFont">
                        <button type="submit" class="btn btn-outline-success" (click)='entrar()'>connect</button>
                    </div>
                    <hr class="mt-5 mb-5 ">
                    <p class="text-center colorFont">
                        Don't have a registration yet? <a routerLink='/cadastrar' class="cadatrese mt-5 mb-5">Register</a>
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-6" id='img-bg'>
            <!--backGround-->

        </div>
        <!--/backgroud-->
    </div>
</div>