<div class="container-fluid backgroundInicio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <a (click)='sair()' class="m-0 font-weight-bold text-white fs-16 ">Sair<i class="fa fa-sign-out"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <h1>Expresse aqui seus pensamentos e opniões:</h1>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-3 mb-5">
                    <div class="col-md-6">
                        <button class="btn"> Nova Postagem </button>
                        <a class="btn btn-outline-light" href="">Ver Postagens</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <h1>IMAGEM BONITONA AQUI</h1>
            </div>
        </div>

    </div>
</div>