<!--COLOCAR ISSO AQUI NO MENU, DEPOIS DE ESTILIZAR PARA APARECER APENAS QUANDO LOGADO-->
<!-- <li class="nav-item active">
    <img src="{{foto}}" alt="Img User" width="50px" height="50px" class="img-fluid rounded-circle">
</li>
<li>
    <h1>Bem Vindo(a)! {{nome}}</h1>
</li>
<ul class="navbar-nav ml-auto d-flex align-items-center">
    <li class="nav-item pl-3">
        <a (click)='sair()' class="m-0 font-weight-bold text-danger fs-16">Sair<i class="fa fa-sign-out" aria-hidden="true"></i></a>

    </li>

</ul> -->
<!--/COLOCAR ISSO AQUI NO MENU, DEPOIS DE ESTILIZAR PARA APARECER APENAS QUANDO LOGADO-->
<!--INICIO-->

<!--/INICIO-->
